@utility decoration-inherit {
    text-decoration-color: inherit;
}

@utility decoration-current {
    text-decoration-color: currentColor;
}

@utility decoration-transparent {
    text-decoration-color: transparent;
}

@utility decoration-black {
    text-decoration-color: var(--color-black);
}

@utility decoration-white {
    text-decoration-color: var(--color-white);
}

@utility decoration-red-50 {
    text-decoration-color: var(--color-red-50);
}
@utility decoration-red-100 {
    text-decoration-color: var(--color-red-100);
}
@utility decoration-red-200 {
    text-decoration-color: var(--color-red-200);
}
@utility decoration-red-300 {
    text-decoration-color: var(--color-red-300);
}
@utility decoration-red-400 {
    text-decoration-color: var(--color-red-400);
}
@utility decoration-red-500 {
    text-decoration-color: var(--color-red-500);
}
@utility decoration-red-600 {
    text-decoration-color: var(--color-red-600);
}
@utility decoration-red-700 {
    text-decoration-color: var(--color-red-700);
}
@utility decoration-red-800 {
    text-decoration-color: var(--color-red-800);
}
@utility decoration-red-900 {
    text-decoration-color: var(--color-red-900);
}
@utility decoration-red-950 {
    text-decoration-color: var(--color-red-950);
}

@utility decoration-orange-50 {
    text-decoration-color: var(--color-orange-50);
}
@utility decoration-orange-100 {
    text-decoration-color: var(--color-orange-100);
}
@utility decoration-orange-200 {
    text-decoration-color: var(--color-orange-200);
}
@utility decoration-orange-300 {
    text-decoration-color: var(--color-orange-300);
}
@utility decoration-orange-400 {
    text-decoration-color: var(--color-orange-400);
}
@utility decoration-orange-500 {
    text-decoration-color: var(--color-orange-500);
}
@utility decoration-orange-600 {
    text-decoration-color: var(--color-orange-600);
}
@utility decoration-orange-700 {
    text-decoration-color: var(--color-orange-700);
}
@utility decoration-orange-800 {
    text-decoration-color: var(--color-orange-800);
}
@utility decoration-orange-900 {
    text-decoration-color: var(--color-orange-900);
}
@utility decoration-orange-950 {
    text-decoration-color: var(--color-orange-950);
}

@utility decoration-amber-50 {
    text-decoration-color: var(--color-amber-50);
}
@utility decoration-amber-100 {
    text-decoration-color: var(--color-amber-100);
}
@utility decoration-amber-200 {
    text-decoration-color: var(--color-amber-200);
}
@utility decoration-amber-300 {
    text-decoration-color: var(--color-amber-300);
}
@utility decoration-amber-400 {
    text-decoration-color: var(--color-amber-400);
}
@utility decoration-amber-500 {
    text-decoration-color: var(--color-amber-500);
}
@utility decoration-amber-600 {
    text-decoration-color: var(--color-amber-600);
}
@utility decoration-amber-700 {
    text-decoration-color: var(--color-amber-700);
}
@utility decoration-amber-800 {
    text-decoration-color: var(--color-amber-800);
}
@utility decoration-amber-900 {
    text-decoration-color: var(--color-amber-900);
}
@utility decoration-amber-950 {
    text-decoration-color: var(--color-amber-950);
}

@utility decoration-yellow-50 {
    text-decoration-color: var(--color-yellow-50);
}
@utility decoration-yellow-100 {
    text-decoration-color: var(--color-yellow-100);
}
@utility decoration-yellow-200 {
    text-decoration-color: var(--color-yellow-200);
}
@utility decoration-yellow-300 {
    text-decoration-color: var(--color-yellow-300);
}
@utility decoration-yellow-400 {
    text-decoration-color: var(--color-yellow-400);
}
@utility decoration-yellow-500 {
    text-decoration-color: var(--color-yellow-500);
}
@utility decoration-yellow-600 {
    text-decoration-color: var(--color-yellow-600);
}
@utility decoration-yellow-700 {
    text-decoration-color: var(--color-yellow-700);
}
@utility decoration-yellow-800 {
    text-decoration-color: var(--color-yellow-800);
}
@utility decoration-yellow-900 {
    text-decoration-color: var(--color-yellow-900);
}
@utility decoration-yellow-950 {
    text-decoration-color: var(--color-yellow-950);
}

@utility decoration-lime-50 {
    text-decoration-color: var(--color-lime-50);
}
@utility decoration-lime-100 {
    text-decoration-color: var(--color-lime-100);
}
@utility decoration-lime-200 {
    text-decoration-color: var(--color-lime-200);
}
@utility decoration-lime-300 {
    text-decoration-color: var(--color-lime-300);
}
@utility decoration-lime-400 {
    text-decoration-color: var(--color-lime-400);
}
@utility decoration-lime-500 {
    text-decoration-color: var(--color-lime-500);
}
@utility decoration-lime-600 {
    text-decoration-color: var(--color-lime-600);
}
@utility decoration-lime-700 {
    text-decoration-color: var(--color-lime-700);
}
@utility decoration-lime-800 {
    text-decoration-color: var(--color-lime-800);
}
@utility decoration-lime-900 {
    text-decoration-color: var(--color-lime-900);
}
@utility decoration-lime-950 {
    text-decoration-color: var(--color-lime-950);
}

@utility decoration-green-50 {
    text-decoration-color: var(--color-green-50);
}
@utility decoration-green-100 {
    text-decoration-color: var(--color-green-100);
}
@utility decoration-green-200 {
    text-decoration-color: var(--color-green-200);
}
@utility decoration-green-300 {
    text-decoration-color: var(--color-green-300);
}
@utility decoration-green-400 {
    text-decoration-color: var(--color-green-400);
}
@utility decoration-green-500 {
    text-decoration-color: var(--color-green-500);
}
@utility decoration-green-600 {
    text-decoration-color: var(--color-green-600);
}
@utility decoration-green-700 {
    text-decoration-color: var(--color-green-700);
}
@utility decoration-green-800 {
    text-decoration-color: var(--color-green-800);
}
@utility decoration-green-900 {
    text-decoration-color: var(--color-green-900);
}
@utility decoration-green-950 {
    text-decoration-color: var(--color-green-950);
}

@utility decoration-emerald-50 {
    text-decoration-color: var(--color-emerald-50);
}
@utility decoration-emerald-100 {
    text-decoration-color: var(--color-emerald-100);
}
@utility decoration-emerald-200 {
    text-decoration-color: var(--color-emerald-200);
}
@utility decoration-emerald-300 {
    text-decoration-color: var(--color-emerald-300);
}
@utility decoration-emerald-400 {
    text-decoration-color: var(--color-emerald-400);
}
@utility decoration-emerald-500 {
    text-decoration-color: var(--color-emerald-500);
}
@utility decoration-emerald-600 {
    text-decoration-color: var(--color-emerald-600);
}
@utility decoration-emerald-700 {
    text-decoration-color: var(--color-emerald-700);
}
@utility decoration-emerald-800 {
    text-decoration-color: var(--color-emerald-800);
}
@utility decoration-emerald-900 {
    text-decoration-color: var(--color-emerald-900);
}
@utility decoration-emerald-950 {
    text-decoration-color: var(--color-emerald-950);
}

@utility decoration-teal-50 {
    text-decoration-color: var(--color-teal-50);
}
@utility decoration-teal-100 {
    text-decoration-color: var(--color-teal-100);
}
@utility decoration-teal-200 {
    text-decoration-color: var(--color-teal-200);
}
@utility decoration-teal-300 {
    text-decoration-color: var(--color-teal-300);
}
@utility decoration-teal-400 {
    text-decoration-color: var(--color-teal-400);
}
@utility decoration-teal-500 {
    text-decoration-color: var(--color-teal-500);
}
@utility decoration-teal-600 {
    text-decoration-color: var(--color-teal-600);
}
@utility decoration-teal-700 {
    text-decoration-color: var(--color-teal-700);
}
@utility decoration-teal-800 {
    text-decoration-color: var(--color-teal-800);
}
@utility decoration-teal-900 {
    text-decoration-color: var(--color-teal-900);
}
@utility decoration-teal-950 {
    text-decoration-color: var(--color-teal-950);
}

@utility decoration-cyan-50 {
    text-decoration-color: var(--color-cyan-50);
}
@utility decoration-cyan-100 {
    text-decoration-color: var(--color-cyan-100);
}
@utility decoration-cyan-200 {
    text-decoration-color: var(--color-cyan-200);
}
@utility decoration-cyan-300 {
    text-decoration-color: var(--color-cyan-300);
}
@utility decoration-cyan-400 {
    text-decoration-color: var(--color-cyan-400);
}
@utility decoration-cyan-500 {
    text-decoration-color: var(--color-cyan-500);
}
@utility decoration-cyan-600 {
    text-decoration-color: var(--color-cyan-600);
}
@utility decoration-cyan-700 {
    text-decoration-color: var(--color-cyan-700);
}
@utility decoration-cyan-800 {
    text-decoration-color: var(--color-cyan-800);
}
@utility decoration-cyan-900 {
    text-decoration-color: var(--color-cyan-900);
}
@utility decoration-cyan-950 {
    text-decoration-color: var(--color-cyan-950);
}

@utility decoration-sky-50 {
    text-decoration-color: var(--color-sky-50);
}
@utility decoration-sky-100 {
    text-decoration-color: var(--color-sky-100);
}
@utility decoration-sky-200 {
    text-decoration-color: var(--color-sky-200);
}
@utility decoration-sky-300 {
    text-decoration-color: var(--color-sky-300);
}
@utility decoration-sky-400 {
    text-decoration-color: var(--color-sky-400);
}
@utility decoration-sky-500 {
    text-decoration-color: var(--color-sky-500);
}
@utility decoration-sky-600 {
    text-decoration-color: var(--color-sky-600);
}
@utility decoration-sky-700 {
    text-decoration-color: var(--color-sky-700);
}
@utility decoration-sky-800 {
    text-decoration-color: var(--color-sky-800);
}
@utility decoration-sky-900 {
    text-decoration-color: var(--color-sky-900);
}
@utility decoration-sky-950 {
    text-decoration-color: var(--color-sky-950);
}

@utility decoration-blue-50 {
    text-decoration-color: var(--color-blue-50);
}
@utility decoration-blue-100 {
    text-decoration-color: var(--color-blue-100);
}
@utility decoration-blue-200 {
    text-decoration-color: var(--color-blue-200);
}
@utility decoration-blue-300 {
    text-decoration-color: var(--color-blue-300);
}
@utility decoration-blue-400 {
    text-decoration-color: var(--color-blue-400);
}
@utility decoration-blue-500 {
    text-decoration-color: var(--color-blue-500);
}
@utility decoration-blue-600 {
    text-decoration-color: var(--color-blue-600);
}
@utility decoration-blue-700 {
    text-decoration-color: var(--color-blue-700);
}
@utility decoration-blue-800 {
    text-decoration-color: var(--color-blue-800);
}
@utility decoration-blue-900 {
    text-decoration-color: var(--color-blue-900);
}
@utility decoration-blue-950 {
    text-decoration-color: var(--color-blue-950);
}

@utility decoration-indigo-50 {
    text-decoration-color: var(--color-indigo-50);
}
@utility decoration-indigo-100 {
    text-decoration-color: var(--color-indigo-100);
}
@utility decoration-indigo-200 {
    text-decoration-color: var(--color-indigo-200);
}
@utility decoration-indigo-300 {
    text-decoration-color: var(--color-indigo-300);
}
@utility decoration-indigo-400 {
    text-decoration-color: var(--color-indigo-400);
}
@utility decoration-indigo-500 {
    text-decoration-color: var(--color-indigo-500);
}
@utility decoration-indigo-600 {
    text-decoration-color: var(--color-indigo-600);
}
@utility decoration-indigo-700 {
    text-decoration-color: var(--color-indigo-700);
}
@utility decoration-indigo-800 {
    text-decoration-color: var(--color-indigo-800);
}
@utility decoration-indigo-900 {
    text-decoration-color: var(--color-indigo-900);
}
@utility decoration-indigo-950 {
    text-decoration-color: var(--color-indigo-950);
}

@utility decoration-violet-50 {
    text-decoration-color: var(--color-violet-50);
}
@utility decoration-violet-100 {
    text-decoration-color: var(--color-violet-100);
}
@utility decoration-violet-200 {
    text-decoration-color: var(--color-violet-200);
}
@utility decoration-violet-300 {
    text-decoration-color: var(--color-violet-300);
}
@utility decoration-violet-400 {
    text-decoration-color: var(--color-violet-400);
}
@utility decoration-violet-500 {
    text-decoration-color: var(--color-violet-500);
}
@utility decoration-violet-600 {
    text-decoration-color: var(--color-violet-600);
}
@utility decoration-violet-700 {
    text-decoration-color: var(--color-violet-700);
}
@utility decoration-violet-800 {
    text-decoration-color: var(--color-violet-800);
}
@utility decoration-violet-900 {
    text-decoration-color: var(--color-violet-900);
}
@utility decoration-violet-950 {
    text-decoration-color: var(--color-violet-950);
}

@utility decoration-purple-50 {
    text-decoration-color: var(--color-purple-50);
}
@utility decoration-purple-100 {
    text-decoration-color: var(--color-purple-100);
}
@utility decoration-purple-200 {
    text-decoration-color: var(--color-purple-200);
}
@utility decoration-purple-300 {
    text-decoration-color: var(--color-purple-300);
}
@utility decoration-purple-400 {
    text-decoration-color: var(--color-purple-400);
}
@utility decoration-purple-500 {
    text-decoration-color: var(--color-purple-500);
}
@utility decoration-purple-600 {
    text-decoration-color: var(--color-purple-600);
}
@utility decoration-purple-700 {
    text-decoration-color: var(--color-purple-700);
}
@utility decoration-purple-800 {
    text-decoration-color: var(--color-purple-800);
}
@utility decoration-purple-900 {
    text-decoration-color: var(--color-purple-900);
}
@utility decoration-purple-950 {
    text-decoration-color: var(--color-purple-950);
}

@utility decoration-fuchsia-50 {
    text-decoration-color: var(--color-fuchsia-50);
}
@utility decoration-fuchsia-100 {
    text-decoration-color: var(--color-fuchsia-100);
}
@utility decoration-fuchsia-200 {
    text-decoration-color: var(--color-fuchsia-200);
}
@utility decoration-fuchsia-300 {
    text-decoration-color: var(--color-fuchsia-300);
}
@utility decoration-fuchsia-400 {
    text-decoration-color: var(--color-fuchsia-400);
}
@utility decoration-fuchsia-500 {
    text-decoration-color: var(--color-fuchsia-500);
}
@utility decoration-fuchsia-600 {
    text-decoration-color: var(--color-fuchsia-600);
}
@utility decoration-fuchsia-700 {
    text-decoration-color: var(--color-fuchsia-700);
}
@utility decoration-fuchsia-800 {
    text-decoration-color: var(--color-fuchsia-800);
}
@utility decoration-fuchsia-900 {
    text-decoration-color: var(--color-fuchsia-900);
}
@utility decoration-fuchsia-950 {
    text-decoration-color: var(--color-fuchsia-950);
}

@utility decoration-pink-50 {
    text-decoration-color: var(--color-pink-50);
}
@utility decoration-pink-100 {
    text-decoration-color: var(--color-pink-100);
}
@utility decoration-pink-200 {
    text-decoration-color: var(--color-pink-200);
}
@utility decoration-pink-300 {
    text-decoration-color: var(--color-pink-300);
}
@utility decoration-pink-400 {
    text-decoration-color: var(--color-pink-400);
}
@utility decoration-pink-500 {
    text-decoration-color: var(--color-pink-500);
}
@utility decoration-pink-600 {
    text-decoration-color: var(--color-pink-600);
}
@utility decoration-pink-700 {
    text-decoration-color: var(--color-pink-700);
}
@utility decoration-pink-800 {
    text-decoration-color: var(--color-pink-800);
}
@utility decoration-pink-900 {
    text-decoration-color: var(--color-pink-900);
}
@utility decoration-pink-950 {
    text-decoration-color: var(--color-pink-950);
}

@utility decoration-rose-50 {
    text-decoration-color: var(--color-rose-50);
}
@utility decoration-rose-100 {
    text-decoration-color: var(--color-rose-100);
}
@utility decoration-rose-200 {
    text-decoration-color: var(--color-rose-200);
}
@utility decoration-rose-300 {
    text-decoration-color: var(--color-rose-300);
}
@utility decoration-rose-400 {
    text-decoration-color: var(--color-rose-400);
}
@utility decoration-rose-500 {
    text-decoration-color: var(--color-rose-500);
}
@utility decoration-rose-600 {
    text-decoration-color: var(--color-rose-600);
}
@utility decoration-rose-700 {
    text-decoration-color: var(--color-rose-700);
}
@utility decoration-rose-800 {
    text-decoration-color: var(--color-rose-800);
}
@utility decoration-rose-900 {
    text-decoration-color: var(--color-rose-900);
}
@utility decoration-rose-950 {
    text-decoration-color: var(--color-rose-950);
}

@utility decoration-slate-50 {
    text-decoration-color: var(--color-slate-50);
}
@utility decoration-slate-100 {
    text-decoration-color: var(--color-slate-100);
}
@utility decoration-slate-200 {
    text-decoration-color: var(--color-slate-200);
}
@utility decoration-slate-300 {
    text-decoration-color: var(--color-slate-300);
}
@utility decoration-slate-400 {
    text-decoration-color: var(--color-slate-400);
}
@utility decoration-slate-500 {
    text-decoration-color: var(--color-slate-500);
}
@utility decoration-slate-600 {
    text-decoration-color: var(--color-slate-600);
}
@utility decoration-slate-700 {
    text-decoration-color: var(--color-slate-700);
}
@utility decoration-slate-800 {
    text-decoration-color: var(--color-slate-800);
}
@utility decoration-slate-900 {
    text-decoration-color: var(--color-slate-900);
}
@utility decoration-slate-950 {
    text-decoration-color: var(--color-slate-950);
}

@utility decoration-gray-50 {
    text-decoration-color: var(--color-gray-50);
}
@utility decoration-gray-100 {
    text-decoration-color: var(--color-gray-100);
}
@utility decoration-gray-200 {
    text-decoration-color: var(--color-gray-200);
}
@utility decoration-gray-300 {
    text-decoration-color: var(--color-gray-300);
}
@utility decoration-gray-400 {
    text-decoration-color: var(--color-gray-400);
}
@utility decoration-gray-500 {
    text-decoration-color: var(--color-gray-500);
}
@utility decoration-gray-600 {
    text-decoration-color: var(--color-gray-600);
}
@utility decoration-gray-700 {
    text-decoration-color: var(--color-gray-700);
}
@utility decoration-gray-800 {
    text-decoration-color: var(--color-gray-800);
}
@utility decoration-gray-900 {
    text-decoration-color: var(--color-gray-900);
}
@utility decoration-gray-950 {
    text-decoration-color: var(--color-gray-950);
}

@utility decoration-zinc-50 {
    text-decoration-color: var(--color-zinc-50);
}
@utility decoration-zinc-100 {
    text-decoration-color: var(--color-zinc-100);
}
@utility decoration-zinc-200 {
    text-decoration-color: var(--color-zinc-200);
}
@utility decoration-zinc-300 {
    text-decoration-color: var(--color-zinc-300);
}
@utility decoration-zinc-400 {
    text-decoration-color: var(--color-zinc-400);
}
@utility decoration-zinc-500 {
    text-decoration-color: var(--color-zinc-500);
}
@utility decoration-zinc-600 {
    text-decoration-color: var(--color-zinc-600);
}
@utility decoration-zinc-700 {
    text-decoration-color: var(--color-zinc-700);
}
@utility decoration-zinc-800 {
    text-decoration-color: var(--color-zinc-800);
}
@utility decoration-zinc-900 {
    text-decoration-color: var(--color-zinc-900);
}
@utility decoration-zinc-950 {
    text-decoration-color: var(--color-zinc-950);
}

@utility decoration-neutral-50 {
    text-decoration-color: var(--color-neutral-50);
}
@utility decoration-neutral-100 {
    text-decoration-color: var(--color-neutral-100);
}
@utility decoration-neutral-200 {
    text-decoration-color: var(--color-neutral-200);
}
@utility decoration-neutral-300 {
    text-decoration-color: var(--color-neutral-300);
}
@utility decoration-neutral-400 {
    text-decoration-color: var(--color-neutral-400);
}
@utility decoration-neutral-500 {
    text-decoration-color: var(--color-neutral-500);
}
@utility decoration-neutral-600 {
    text-decoration-color: var(--color-neutral-600);
}
@utility decoration-neutral-700 {
    text-decoration-color: var(--color-neutral-700);
}
@utility decoration-neutral-800 {
    text-decoration-color: var(--color-neutral-800);
}
@utility decoration-neutral-900 {
    text-decoration-color: var(--color-neutral-900);
}
@utility decoration-neutral-950 {
    text-decoration-color: var(--color-neutral-950);
}

@utility decoration-stone-50 {
    text-decoration-color: var(--color-stone-50);
}
@utility decoration-stone-100 {
    text-decoration-color: var(--color-stone-100);
}
@utility decoration-stone-200 {
    text-decoration-color: var(--color-stone-200);
}
@utility decoration-stone-300 {
    text-decoration-color: var(--color-stone-300);
}
@utility decoration-stone-400 {
    text-decoration-color: var(--color-stone-400);
}
@utility decoration-stone-500 {
    text-decoration-color: var(--color-stone-500);
}
@utility decoration-stone-600 {
    text-decoration-color: var(--color-stone-600);
}
@utility decoration-stone-700 {
    text-decoration-color: var(--color-stone-700);
}
@utility decoration-stone-800 {
    text-decoration-color: var(--color-stone-800);
}
@utility decoration-stone-900 {
    text-decoration-color: var(--color-stone-900);
}
@utility decoration-stone-950 {
    text-decoration-color: var(--color-stone-950);
}

@utility decoration-* {
    text-decoration-color: --value(color);
}
