@custom-variant 3xs (@media (width >= 16rem));
@custom-variant 2xs (@media (width >= 18rem));
@custom-variant xs (@media (width >= 20rem));
@custom-variant sm (@media (width >= 24rem));
@custom-variant md (@media (width >= 28rem));
@custom-variant lg (@media (width >= 32rem));
@custom-variant xl (@media (width >= 36rem));
@custom-variant 2xl (@media (width >= 42rem));
@custom-variant 3xl (@media (width >= 48rem));
@custom-variant 4xl (@media (width >= 56rem));
@custom-variant 5xl (@media (width >= 64rem));
@custom-variant 6xl (@media (width >= 72rem));
@custom-variant 7xl (@media (width >= 80rem));

@custom-variant @3xs (@container (width >= 16rem));
@custom-variant @2xs (@container (width >= 18rem));
@custom-variant @xs (@container (width >= 20rem));
@custom-variant @sm (@container (width >= 24rem));
@custom-variant @md (@container (width >= 28rem));
@custom-variant @lg (@container (width >= 32rem));
@custom-variant @xl (@container (width >= 36rem));
@custom-variant @2xl (@container (width >= 42rem));
@custom-variant @3xl (@container (width >= 48rem));
@custom-variant @4xl (@container (width >= 56rem));
@custom-variant @5xl (@container (width >= 64rem));
@custom-variant @6xl (@container (width >= 72rem));
@custom-variant @7xl (@container (width >= 80rem));

@custom-variant starting (@starting-style);

@utility aspect-square {
    aspect-ratio: 1 / 1;
}
@utility aspect-video {
    aspect-ratio: 16 / 9;
}
@utility aspect-auto {
    aspect-ratio: auto;
}
@utility aspect-* {
    aspect-ratio: --value(ratio, [*]);
}

@utility columns-* {
    columns: --value(number);
}
@utility columns-3xs {
    columns: 16rem;
}
@utility columns-2xs {
    columns: 18rem;
}
@utility columns-xs {
    columns: 20rem;
}
@utility columns-sm {
    columns: 24rem;
}
@utility columns-md {
    columns: 28rem;
}
@utility columns-lg {
    columns: 32rem;
}
@utility columns-xl {
    columns: 36rem;
}
@utility columns-2xl {
    columns: 42rem;
}
@utility columns-3xl {
    columns: 48rem;
}
@utility columns-4xl {
    columns: 56rem;
}
@utility columns-5xl {
    columns: 64rem;
}
@utility columns-6xl {
    columns: 72rem;
}
@utility columns-7xl {
    columns: 80rem;
}
@utility columns-auto {
    columns: auto;
}

@utility break-after-auto {
    break-after: auto;
}
@utility break-after-avoid {
    break-after: avoid;
}
@utility break-after-all {
    break-after: all;
}
@utility break-after-avoid-page {
    break-after: avoid-page;
}
@utility break-after-page {
    break-after: page;
}
@utility break-after-left {
    break-after: left;
}
@utility break-after-right {
    break-after: right;
}
@utility break-after-column {
    break-after: column;
}

@utility break-before-auto {
    break-before: auto;
}
@utility break-before-avoid {
    break-before: avoid;
}
@utility break-before-all {
    break-before: all;
}
@utility break-before-avoid-page {
    break-before: avoid-page;
}
@utility break-before-page {
    break-before: page;
}
@utility break-before-left {
    break-before: left;
}
@utility break-before-right {
    break-before: right;
}
@utility break-before-column {
    break-before: column;
}

@utility break-inside-auto {
    break-inside: auto;
}
@utility break-inside-avoid {
    break-inside: avoid;
}
@utility break-inside-avoid-page {
    break-inside: avoid-page;
}
@utility break-inside-avoid-column {
    break-inside: avoid-column;
}

@utility box-decoration-clone {
    box-decoration-break: clone;
}
@utility box-decoration-slice {
    box-decoration-break: slice;
}

@utility box-border {
    box-sizing: border-box;
}
@utility box-content {
    box-sizing: content-box;
}

@utility inline {
    display: inline;
}
@utility block {
    display: block;
}
@utility inline-block {
    display: inline-block;
}
@utility flow-root {
    display: flow-root;
}
@utility flex {
    display: flex;
}
@utility inline-flex {
    display: inline-flex;
}
@utility grid {
    display: grid;
}
@utility inline-grid {
    display: inline-grid;
}
@utility contents {
    display: contents;
}
@utility table {
    display: table;
}
@utility inline-table {
    display: inline-table;
}
@utility table-caption {
    display: table-caption;
}
@utility table-cell {
    display: table-cell;
}
@utility table-column {
    display: table-column;
}
@utility table-column-group {
    display: table-column-group;
}
@utility table-footer-group {
    display: table-footer-group;
}
@utility table-header-group {
    display: table-header-group;
}
@utility table-row-group {
    display: table-row-group;
}
@utility table-row {
    display: table-row;
}
@utility list-item {
    display: list-item;
}
@utility hidden {
    display: none;
}
@utility sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
@utility not-sr-only {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
}

@utility float-right {
    float: right;
}
@utility float-left {
    float: left;
}
@utility float-start {
    float: inline-start;
}
@utility float-end {
    float: inline-start;
}
@utility float-none {
    float: none;
}

@utility clear-left {
    clear: left;
}
@utility clear-right {
    clear: right;
}
@utility clear-both {
    clear: both;
}
@utility clear-start {
    clear: inline-start;
}
@utility clear-end {
    clear: inline-end;
}
@utility clear-none {
    clear: none;
}

@utility isolate {
    isolation: isolate;
}
@utility isolation-auto {
    isolation: auto;
}

@utility object-contain {
    object-fit: contain;
}
@utility object-cover {
    object-fit: cover;
}
@utility object-fill {
    object-fit: fill;
}
@utility object-none {
    object-fit: none;
}
@utility object-scale-down {
    object-fit: scale-down;
}

@utility object-top-left {
    object-position: top left;
}
@utility object-top {
    object-position: top;
}
@utility object-top-right {
    object-position: top right;
}
@utility object-left {
    object-position: left;
}
@utility object-center {
    object-position: center;
}
@utility object-right {
    object-position: right;
}
@utility object-bottom-left {
    object-position: bottom left;
}
@utility object-bottom {
    object-position: bottom;
}
@utility object-bottom-right {
    object-position: bottom right;
}
@utility object-* {
    object-position: --value(position);
}

@utility overflow-auto {
    overflow: auto;
}
@utility overflow-hidden {
    overflow: hidden;
}
@utility overflow-clip {
    overflow: clip;
}
@utility overflow-visible {
    overflow: visible;
}
@utility overflow-scroll {
    overflow: scroll;
}
@utility overflow-x-auto {
    overflow-x: auto;
}
@utility overflow-y-auto {
    overflow-y: auto;
}
@utility overflow-x-clip {
    overflow-x: clip;
}
@utility overflow-y-clip {
    overflow-y: clip;
}
@utility overflow-x-visible {
    overflow-x: visible;
}
@utility overflow-y-visible {
    overflow-y: visible;
}
@utility overflow-x-scroll {
    overflow-x: scroll;
}
@utility overflow-y-scroll {
    overflow-y: scroll;
}

@utility overscroll-auto {
    overscroll-behavior: auto;
}
@utility overscroll-contain {
    overscroll-behavior: contain;
}
@utility overscroll-none {
    overscroll-behavior: none;
}
@utility overscroll-x-auto {
    overscroll-behavior-x: auto;
}
@utility overscroll-x-contain {
    overscroll-behavior-x: contain;
}
@utility overscroll-x-none {
    overscroll-behavior-x: none;
}
@utility overscroll-y-auto {
    overscroll-behavior-y: auto;
}
@utility overscroll-y-contain {
    overscroll-behavior-y: contain;
}
@utility overscroll-y-none {
    overscroll-behavior-y: none;
}

@utility static {
    position: static;
}
@utility fixed {
    position: fixed;
}
@utility absolute {
    position: absolute;
}
@utility relative {
    position: relative;
}
@utility sticky {
    position: sticky;
}

@utility inset-* {
    inset: calc(var(--spacing) * --value(number));
    inset: calc(--value(fraction) * 100%);
    inset: --value([*]);
}
@utility -inset-* {
    inset: calc(var(--spacing) * ---value(number));
    inset: calc(--value(fraction) * -100%);
}
@utility inset-px {
    inset: 1px;
}
@utility -inset-px {
    inset: -1px;
}
@utility inset-full {
    inset: 100%;
}
@utility -inset-full {
    inset: -100%;
}
@utility inset-auto {
    inset: auto;
}
@utility inset-x-* {
    inset-inline: calc(var(--spacing) * --value(number));
    inset-inline: calc(--value(fraction) * 100%);
    inset-inline: --value([*]);
}
@utility -inset-x-* {
    inset-inline: calc(var(--spacing) * ---value(number));
    inset-inline: calc(--value(fraction) * -100%);
}
@utility inset-x-px {
    inset-inline: 1px;
}
@utility -inset-x-px {
    inset-inline: -1px;
}
@utility inset-x-full {
    inset-inline: 100%;
}
@utility -inset-x-full {
    inset-inline: -100%;
}
@utility inset-x-auto {
    inset-inline: auto;
}
@utility inset-y-* {
    inset-block: calc(var(--spacing) * --value(number));
    inset-block: calc(--value(fraction) * 100%);
    inset-block: --value([*]);
}
@utility -inset-y-* {
    inset-block: calc(var(--spacing) * ---value(number));
    inset-block: calc(--value(fraction) * -100%);
}
@utility inset-y-px {
    inset-block: 1px;
}
@utility -inset-y-px {
    inset-block: -1px;
}
@utility inset-y-full {
    inset-block: 100%;
}
@utility -inset-y-full {
    inset-block: -100%;
}
@utility inset-y-auto {
    inset-block: auto;
}
@utility start-* {
    inset-inline-start: calc(var(--spacing) * --value(number));
    inset-inline-start: calc(--value(fraction) * 100%);
    inset-inline-start: --value([*]);
}
@utility -start-* {
    inset-inline-start: calc(var(--spacing) * ---value(number));
    inset-inline-start: calc(--value(fraction) * -100%);
}
@utility start-px {
    inset-inline-start: 1px;
}
@utility -start-px {
    inset-inline-start: -1px;
}
@utility start-full {
    inset-inline-start: 100%;
}
@utility -start-full {
    inset-inline-start: -100%;
}
@utility start-auto {
    inset-inline-start: auto;
}
@utility end-* {
    inset-inline-end: calc(var(--spacing) * --value(number));
    inset-inline-end: calc(--value(fraction) * 100%);
    inset-inline-end: --value([*]);
}
@utility -end-* {
    inset-inline-end: calc(var(--spacing) * ---value(number));
    inset-inline-end: calc(--value(fraction) * -100%);
}
@utility end-px {
    inset-inline-end: 1px;
}
@utility -end-px {
    inset-inline-end: -1px;
}
@utility end-full {
    inset-inline-end: 100%;
}
@utility -end-full {
    inset-inline-end: -100%;
}
@utility end-auto {
    inset-inline-end: auto;
}
@utility top-* {
    top: calc(var(--spacing) * --value(number));
    top: calc(--value(fraction) * 100%);
    top: --value([*]);
}
@utility -top-* {
    top: calc(var(--spacing) * ---value(number));
    top: calc(--value(fraction) * -100%);
}
@utility top-px {
    top: 1px;
}
@utility -top-px {
    top: -1px;
}
@utility top-full {
    top: 100%;
}
@utility -top-full {
    top: -100%;
}
@utility top-auto {
    top: auto;
}
@utility left-* {
    left: calc(var(--spacing) * --value(number));
    left: calc(--value(fraction) * 100%);
    left: --value([*]);
}
@utility -left-* {
    left: calc(var(--spacing) * ---value(number));
    left: calc(--value(fraction) * -100%);
}
@utility left-px {
    left: 1px;
}
@utility -left-px {
    left: -1px;
}
@utility left-full {
    left: 100%;
}
@utility -left-full {
    left: -100%;
}
@utility left-auto {
    left: auto;
}
@utility right-* {
    right: calc(var(--spacing) * --value(number));
    right: calc(--value(fraction) * 100%);
    right: --value([*]);
}
@utility -right-* {
    right: calc(var(--spacing) * ---value(number));
    right: calc(--value(fraction) * -100%);
}
@utility right-px {
    right: 1px;
}
@utility -right-px {
    right: -1px;
}
@utility right-full {
    right: 100%;
}
@utility -right-full {
    right: -100%;
}
@utility right-auto {
    right: auto;
}
@utility bottom-* {
    bottom: calc(var(--spacing) * --value(number));
    bottom: calc(--value(fraction) * 100%);
    bottom: --value([*]);
}
@utility -bottom-* {
    bottom: calc(var(--spacing) * ---value(number));
    bottom: calc(--value(fraction) * -100%);
}
@utility bottom-px {
    bottom: 1px;
}
@utility -bottom-px {
    bottom: -1px;
}
@utility bottom-full {
    bottom: 100%;
}
@utility -bottom-full {
    bottom: -100%;
}
@utility bottom-auto {
    bottom: auto;
}

@utility visible {
    visibility: visible;
}
@utility invisible {
    visibility: hidden;
}
@utility collapse {
    visibility: collapse;
}

@utility z-* {
    z-index: --value(number, "auto", [*]);
}

@utility basis-* {
    flex-basis: calc(var(--spacing) * --value(number));
    flex-basis: calc(--value(fraction) * 100%);
}
@utility basis-full {
    flex-basis: 100%;
}
@utility basis-auto {
    flex-basis: auto;
}
@utility basis-3xs {
    flex-basis: 16rem;
}
@utility basis-2xs {
    flex-basis: 18rem;
}
@utility basis-xs {
    flex-basis: 20rem;
}
@utility basis-sm {
    flex-basis: 24rem;
}
@utility basis-md {
    flex-basis: 28rem;
}
@utility basis-lg {
    flex-basis: 32rem;
}
@utility basis-xl {
    flex-basis: 36rem;
}
@utility basis-2xl {
    flex-basis: 42rem;
}
@utility basis-3xl {
    flex-basis: 48rem;
}
@utility basis-4xl {
    flex-basis: 56rem;
}
@utility basis-5xl {
    flex-basis: 64rem;
}
@utility basis-6xl {
    flex-basis: 72rem;
}
@utility basis-7xl {
    flex-basis: 80rem;
}

@utility flex-row {
    flex-direction: row;
}
@utility flex-row-reverse {
    flex-direction: row-reverse;
}
@utility flex-col {
    flex-direction: column;
}
@utility flex-col-reverse {
    flex-direction: column-reverse;
}

@utility flex-nowrap {
    flex-wrap: nowrap;
}
@utility flex-wrap {
    flex-wrap: wrap;
}
@utility flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

@utility flex-* {
    flex: --value(number, "auto", "none", [*]);
    flex: calc(--value(fraction) * 100%);
}
@utility flex-initial {
    flex-initial: 0 auto;
}

@utility grow {
    flex-grow: 1;
}
@utility grow-* {
    flex-grow: --value(number);
}

@utility shrink {
    flex-shrink: 1;
}
@utility shrink-* {
    flex-shrink: --value(number);
}

@utility order-* {
    order: --value(number);
}
@utility -order-* {
    order: calc(--value(number) * -1);
}
@utility order-first {
    order: -9999;
}
@utility order-last {
    order: 9999;
}
@utility order-none {
    order: 0;
}

@utility grid-cols-* {
    grid-template-columns: repeat(--value(number), minmax(0, 1fr));
    grid-template-columns: --value("none", "subgrid", [*]);
}

@utility col-span-* {
    grid-column: span --value(number, [*]) / span --value(number, [*]);
}
@utility col-span-full {
    grid-column: 1 / -1;
}
@utility col-start-* {
    grid-column-start: --value(number, "auto", [*]);
}
@utility -col-start-* {
    grid-column-start: calc(--value(number) * -1);
}
@utility col-end-* {
    grid-column-end: --value(number, "auto", [*]);
}
@utility -col-end-* {
    grid-column-end: calc(--value(number) * -1);
}
@utility col-* {
    grid-column: --value(number, "auto", [*]);
}
@utility -col* {
    grid-column: calc(--value(number) * -1);
}

@utility grid-rows-* {
    grid-template-rows: repeat(--value(number), minmax(0, 1fr));
    grid-template-rows: --value("none", "subgrid", [*]);
}

@utility row-span-* {
    grid-row: span --value(number, [*]) / --value(number, [*]);
}
@utility row-span-full {
    grid-row: 1 / -1;
}
@utility row-start-* {
    grid-row-start: --value(number, "auto", [*]);
}
@utility -row-start-* {
    grid-row-start: calc(--value(number) * -1);
}
@utility row-end-* {
    grid-row-end: --value(number, "auto", [*]);
}
@utility -row-end-* {
    grid-row-end: calc(--value(number) * -1);
}
@utility row-* {
    grid-row: --value(number, "auto", [*]);
}
@utility -row-* {
    grid-row: calc(--value(number) * -1);
}

@utility grid-flow-row {
    grid-auto-flow: row;
}
@utility grid-flow-col {
    grid-auto-flow: column;
}
@utility grid-flow-dense {
    grid-auto-flow: dense;
}
@utility grid-flow-row-dense {
    grid-auto-flow: row dense;
}
@utility grid-flow-col-dense {
    grid-auto-flow: column dense;
}

@utility auto-cols-auto {
    grid-auto-columns: auto;
}
@utility auto-cols-min {
    grid-auto-columns: min-content;
}
@utility auto-cols-max {
    grid-auto-columns: max-content;
}
@utility auto-cols-fr {
    grid-auto-columns: minmax(0, 1fr);
}
@utility auto-cols-* {
    grid-auto-columns: --value([*]);
}

@utility auto-rows-auto {
    grid-auto-rows: auto;
}
@utility auto-rows-min {
    grid-auto-rows: min-content;
}
@utility auto-rows-max {
    grid-auto-rows: max-content;
}
@utility auto-rows-fr {
    grid-auto-rows: minmax(0, 1fr);
}
@utility auto-rows-* {
    grid-auto-rows: --value([*]);
}

@utility gap-* {
    gap: calc(var(--spacing) * --value(number));
    gap: --value([*]);
}
@utility gap-x-* {
    column-gap: calc(var(--spacing) * --value(number));
    column-gap: --value([*]);
}
@utility gap-y-* {
    row-gap: calc(var(--spacing) * --value(number));
    row-gap: --value([*]);
}

@utility justify-start {
    justify-content: flex-start;
}
@utility justify-end {
    justify-content: flex-end;
}
@utility justify-end-safe {
    justify-content: safe flex-end;
}
@utility justify-center {
    justify-content: center;
}
@utility justify-center-safe {
    justify-content: safe center;
}
@utility justify-between {
    justify-content: space-between;
}
@utility justify-around {
    justify-content: space-around;
}
@utility justify-evenly {
    justify-content: space-evenly;
}
@utility justify-stretch {
    justify-content: stretch;
}
@utility justify-baseline {
    justify-content: baseline;
}
@utility justify-normal {
    justify-content: normal;
}

@utility justify-items-start {
    justify-items: start;
}
@utility justify-items-end {
    justify-items: end;
}
@utility justify-items-end-safe {
    justify-items: safe end;
}
@utility justify-items-center {
    justify-items: center;
}
@utility justify-items-center-safe {
    justify-items: safe center;
}
@utility justify-items-stretch {
    justify-items: stretch;
}
@utility justify-items-normal {
    justify-items: normal;
}

@utility justify-self-auto {
    justify-self: auto;
}
@utility justify-self-start {
    justify-self: start;
}
@utility justify-self-center {
    justify-self: center;
}
@utility justify-self-center-safe {
    justify-self: safe center;
}
@utility justify-self-end {
    justify-self: end;
}
@utility justify-self-end-safe {
    justify-self: safe end;
}
@utility justify-self-stretch {
    justify-self: stretch;
}

@utility content-normal {
    align-content: normal;
}
@utility content-center {
    align-content: center;
}
@utility content-start {
    align-content: flex-start;
}
@utility content-end {
    align-content: flex-end;
}
@utility conetent-between {
    align-content: space-between;
}
@utility conetent-around {
    align-content: space-around;
}
@utility conetent-evenly {
    align-content: space-evenly;
}
@utility conetent-baseline {
    align-content: baseline;
}
@utility conetent-stretch {
    align-content: stretch;
}

@utility items-start {
    align-items: flex-start;
}
@utility items-end {
    align-items: flex-end;
}
@utility items-end-safe {
    align-items: safe flex-end;
}
@utility items-center {
    align-items: center;
}
@utility items-center-safe {
    align-items: safe center;
}
@utility items-baseline {
    align-items: baseline;
}
@utility items-baseline-last {
    align-items: last baseline;
}
@utility items-stretch {
    align-items: stretch;
}

@utility self-auto {
    align-self: auto;
}
@utility self-start {
    align-self: flex-start;
}
@utility self-end {
    align-self: flex-end;
}
@utility self-end-safe {
    align-self: safe flex-end;
}
@utility self-center {
    align-self: center;
}
@utility self-center-safe {
    align-self: safe center;
}
@utility self-stretch {
    align-self: stretch;
}
@utility self-baseline {
    align-self: baseline;
}
@utility self-baseline-last {
    align-self: last baseline;
}

@utility place-content-center {
    place-content: center;
}
@utility place-content-center-safe {
    place-content: safe center;
}
@utility place-content-start {
    place-content: start;
}
@utility place-content-end {
    place-content: end;
}
@utility place-content-end-safe {
    place-content: safe end;
}
@utility place-content-between {
    place-content: space-between;
}
@utility place-content-around {
    place-content: space-around;
}
@utility place-content-evenly {
    place-content: space-evenly;
}
@utility place-content-baseline {
    place-content: baseline;
}
@utility place-content-stretch {
    place-content: stretch;
}

@utility place-items-start {
    place-items: start;
}
@utility place-items-end {
    place-items: end;
}
@utility place-items-end-safe {
    place-items: safe end;
}
@utility place-items-center {
    place-items: center;
}
@utility place-items-center-safe {
    place-items: safe center;
}
@utility place-items-baseline {
    place-items: baseline;
}
@utility place-items-stretch {
    place-items: stretch;
}

@utility place-self-auto {
    place-self: auto;
}
@utility place-self-start {
    place-self: start;
}
@utility place-self-end {
    place-self: end;
}
@utility place-self-end-safe {
    place-self: safe end;
}
@utility place-self-center {
    place-self: center;
}
@utility place-self-center-safe {
    place-self: safe center;
}
@utility place-self-stretch {
    place-self: stretch;
}

@utility p-* {
    padding: calc(var(--spacing) * --value(number));
    padding: --value([*]);
}
@utility p-px {
    padding: 1px;
}
@utility px-* {
    padding-inline: calc(var(--spacing) * --value(number));
    padding-inline: --value([*]);
}
@utility px-px {
    padding-inline: 1px;
}
@utility py-* {
    padding-block: calc(var(--spacing) * --value(number));
    padding-block: --value([*]);
}
@utility py-px {
    padding-block: 1px;
}
@utility ps-* {
    padding-inline-start: calc(var(--spacing) * --value(number));
    padding-inline-start: --value([*]);
}
@utility ps-px {
    padding-inline-start: 1px;
}
@utility pe-* {
    padding-inline-end: calc(var(--spacing) * --value(number));
    padding-inline-end: --value([*]);
}
@utility pe-px {
    padding-inline-end: 1px;
}
@utility pt-* {
    padding-top: calc(var(--spacing) * --value(number));
    padding-top: --value([*]);
}
@utility pt-px {
    padding-top: 1px;
}
@utility pr-* {
    padding-right: calc(var(--spacing) * --value(number));
    padding-right: --value([*]);
}
@utility pr-px {
    padding-right: 1px;
}
@utility pb-* {
    padding-bottom: calc(var(--spacing) * --value(number));
    padding-bottom: --value([*]);
}
@utility pb-px {
    padding-bottom: 1px;
}
@utility pl-* {
    padding-left: calc(var(--spacing) * --value(number));
    padding-left: --value([*]);
}
@utility pl-px {
    padding-left: 1px;
}

@utility m-* {
    margin: calc(var(--spacing) * --value(number));
    margin: --value("auto");
    margin: --value([*]);
}
@utility -m-* {
    margin: calc(var(--spacing) * ---value(number));
}
@utility m-px {
    margin: 1px;
}
@utility -m-px {
    margin: -1px;
}
@utility mx-* {
    margin-inline: calc(var(--spacing) * --value(number));
    margin-inline: --value("auto");
    margin-inline: --value([*]);
}
@utility -mx-* {
    margin-inline: calc(var(--spacing) * ---value(number));
}
@utility mx-px {
    margin-inline: 1px;
}
@utility -mx-px {
    margin-inline: 1px;
}
@utility my-* {
    margin-block: calc(var(--spacing) * --value(number));
    margin-block: --value("auto");
    margin-block: --value([*]);
}
@utility -my-* {
    margin-block: calc(var(--spacing) * ---value(number));
}
@utility my-px {
    margin-block: 1px;
}
@utility -my-px {
    margin-block: -1px;
}
@utility ms-* {
    margin-inline-start: calc(var(--spacing) * --value(number));
    margin-inline-start: --value("auto");
    margin-inline-start: --value([*]);
}
@utility -ms-* {
    margin-inline-start: calc(var(--spacing) * ---value(number));
}
@utility ms-px {
    margin-inline-start: 1px;
}
@utility -ms-px {
    margin-inline-start: -1px;
}
@utility me-* {
    margin-inline-end: calc(var(--spacing) * --value(number));
    margin-inline-end: --value("auto");
    margin-inline-end: --value([*]);
}
@utility -me-* {
    margin-inline-end: calc(var(--spacing) * ---value(number));
}
@utility me-px {
    margin-inline-end: 1px;
}
@utility -me-px {
    margin-inline-end: -1px;
}
@utility mt-* {
    margin-top: calc(var(--spacing) * --value(number));
    margin-top: --value("auto");
    margin-top: --value([*]);
}
@utility -mt-* {
    margin-top: calc(var(--spacing) * ---value(number));
}
@utility mt-px {
    margin-top: 1px;
}
@utility -mt-px {
    margin-top: -1px;
}
@utility mr-* {
    margin-right: calc(var(--spacing) * --value(number));
    margin-right: --value("auto");
    margin-right: --value([*]);
}
@utility -mr-* {
    margin-right: calc(var(--spacing) * ---value(number));
}
@utility mr-px {
    margin-right: 1px;
}
@utility -mr-px {
    margin-right: -1px;
}
@utility mb-* {
    margin-bottom: calc(var(--spacing) * --value(number));
    margin-bottom: --value("auto");
    margin-bottom: --value([*]);
}
@utility -mb-* {
    margin-bottom: calc(var(--spacing) * ---value(number));
}
@utility mb-px {
    margin-bottom: 1px;
}
@utility -mb-px {
    margin-bottom: -1px;
}
@utility ml-* {
    margin-left: calc(var(--spacing) * --value(number));
    margin-left: --value("auto");
    margin-left: --value([*]);
}
@utility -ml-* {
    margin-left: calc(var(--spacing) * ---value(number));
}
@utility ml-px {
    margin-left: 1px;
}
@utility -ml-px {
    margin-left: -1px;
}

@utility space-x-* {
    & > :not(:last-child) { --tw-space-x-reverse: 0; margin-inline-start: calc(calc(var(--spacing) * --value(number)) * var(--tw-space-x-reverse)); margin-inline-end: calc(calc(var(--spacing) * --value(number)) * calc(1 - var(--tw-space-x-reverse))); }
}
@utility space-x-* {
    & > :not(:last-child) { --tw-space-x-reverse: 0; margin-inline-start: calc(--value([*]) * var(--tw-space-x-reverse)); margin-inline-end: calc(--value([*]) * calc(1 - var(--tw-space-x-reverse))); }
}
@utility -space-x-* {
    & > :not(:last-child) { --tw-space-x-reverse: 0; margin-inline-start: calc(calc(var(--spacing) * ---value(number)) * var(--tw-space-x-reverse)); margin-inline-end: calc(calc(var(--spacing) * ---value(number)) * calc(1 - var(--tw-space-x-reverse))); }
}
@utility space-x-px {
    & > :not(:last-child) { --tw-space-x-reverse: 0; margin-inline-start: calc(1px * var(--tw-space-x-reverse)); margin-inline-end: calc(1px * calc(1 - var(--tw-space-x-reverse))); }
}
@utility -space-x-px {
    & > :not(:last-child) { --tw-space-x-reverse: 0; margin-inline-start: calc(-1px * var(--tw-space-x-reverse)); margin-inline-end: calc(1px * calc(1 - var(--tw-space-x-reverse))); }
}

@utility space-y-* {
    & > :not(:last-child) { --tw-space-x-reverse: 0; margin-block-start: calc(calc(var(--spacing) * --value(number)) * var(--tw-space-x-reverse)); margin-block-end: calc(calc(var(--spacing) * --value(number)) * calc(1 - var(--tw-space-x-reverse))); }
}
@utility space-y-* {
    & > :not(:last-child) { --tw-space-x-reverse: 0; margin-block-start: calc(--value([*]) * var(--tw-space-x-reverse)); margin-block-end: calc(--value([*]) * calc(1 - var(--tw-space-x-reverse))); }
}
@utility -space-y-* {
    & > :not(:last-child) { --tw-space-x-reverse: 0; margin-block-start: calc(calc(var(--spacing) * ---value(number)) * var(--tw-space-x-reverse)); margin-block-end: calc(calc(var(--spacing) * ---value(number)) * calc(1 - var(--tw-space-x-reverse))); }
}
@utility space-y-px {
    & > :not(:last-child) { --tw-space-x-reverse: 0; margin-block-start: calc(1px * var(--tw-space-x-reverse)); margin-block-end: calc(1px * calc(1 - var(--tw-space-x-reverse))); }
}
@utility -space-y-px {
    & > :not(:last-child) { --tw-space-x-reverse: 0; margin-block-start: calc(-1px * var(--tw-space-x-reverse)); margin-block-end: calc(1px * calc(1 - var(--tw-space-x-reverse))); }
}

@utility space-x-reverse {
    & > :not(:last-child) { --tw-space-x-reverse: 1; }
}
@utility space-y-reverse {
    & > :not(:last-child) { --tw-space-y-reverse: 1; }
}
